{% assign words = order.order_status_url | split: '/' %}
{% capture email_title %}Din opgave er nu oprettet, og vi er i gang med at finde de bedste tilbud til dig! {% endcapture %}

<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{ email_title }}</title>
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
	<meta content="width=device-width" name="viewport">
	<link href="/assets/notifications/styles.css" rel="stylesheet" type="text/css">
	<style>
	      .button__cell { background: {{ shop.email_accent_color }}; }
	      a, a:hover, a:active, a:visited { color: {{ shop.email_accent_color }}; }
	</style>
</head>
<body>
	<table class="body">
		<tr>
			<td>
				<table class="header row">
					<tr>
						<td class="header__cell">
							<center>
								<table class="container">
									<tr>
										<td>
											<table class="row">
												<tr>
													<td class="shop-name__cell">
														{%- if shop.email_logo_url %} <img alt="{{ shop.name }}" src="{{shop.email_logo_url}}" width="{{ shop.email_logo_width }}"> {%- else %}
														<h1 class="shop-name__text"><a href="{{shop.url}}">{{ shop.name }}</a></h1>{%- endif %}
													</td>
													<td class="order-number__cell"><span class="order-number__text">Order {{ order_name }}</span></td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
							</center>
						</td>
					</tr>
				</table>
				<table class="row content">
					<tr>
						<td class="content__cell">
							<center>
								<table class="container">
									<tr>
										<td>
											<h2>{{ email_title }}</h2>
											<p>Vi sender nu din opgave i udbud hos vores netværk af kvalitetsværksteder, hvor professionelle teknikker skræddersyr tilbud til din enhed.</p>



<p>Vi bestræber os på, at du modtager dine tilbud inden for 24 timer. Hvis du har oprettet opgaven i weekenden, kan der gå lidt længere tid.</p>


<p>Du vil løbende modtage tilbuddene på mail og på SMS, hvis vi har dit telefonnummer.</p>{% if order_status_url %}
											<table class="row actions">
												<tr>
													<td class="actions__cell">
														<table class="button main-action-cell">
															<tr>
																<td class="button__cell">
																	<a class="button__text" href="https://givettilbud.myshopify.com/pages/status?token={{words[5]}}&key={{words[6] | replace: 'authenticate?key=', '' }}">Vis status</a>
																</td>
															</tr>
														</table>{% if shop.url %}
														<table class="link secondary-action-cell">
															<tr>
																<td class="link__cell">
																	eller <a href="{{%20shop.url%20}}">besøg vores hjemmeside</a>
																</td>
															</tr>
														</table>{% endif %}
													</td>
												</tr>
											</table>{% endif %}
										</td>
									</tr>
								</table>
							</center>
						</td>
					</tr>
				</table>
				<table class="row section">
					<tr>
						<td class="section__cell">
							<center>
								<table class="container">
									<tr>
										<td>
											<h3>Din informationer:</h3>
										</td>
									</tr>
								</table>
								<table class="container">
									<tr>
										<td>
											<table class="row">
												<tr>
													<td class="customer-info__item">
														{{ shipping_address | format_address }}
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
							</center>
						</td>
					</tr>
				</table>
				<table class="row footer">
					<tr>
						<td class="footer__cell">
							<center>
								<table class="container">
									<tr>
										<td>
											<p class="disclaimer__subtext">Du er altid velkommen til at bruge vores rådgivning, hvis du har spørgsmål. Vi er uafhængige af værkstederne og giver uvildig, gratis hjælp.</p>



<p class="disclaimer__subtext">Vi sidder klar på 00 00 00 00 på hverdage 8-16 – eller send os en mail til <a href="mailto:{{%20shop.email%20}}">{{ shop.email }}</a></p>

<p class="disclaimer__subtext">Med venlig hilsen<br />
Jamal Soueidan<br />
Din supporter </p>
										</td>
									</tr>
								</table>
							</center>
						</td>
					</tr>
				</table><img class="spacer" height="1" src="{{%20'notifications/spacer.png'%20|%20shopify_asset_url%20}}">
			</td>
		</tr>
	</table>
</body>
</html>
