.feature-title, .feature-text
  text-align: center
  margin-top: 0

.offers
  display: flex
  margin-top: 30px
  background-color: #d7d7d7
  padding: 10px
  border-radius: 5px

  @media only screen and (max-width: 600px)
    flex-direction: column

button.link
  background: none
  border: none
  margin: 0
  padding: 0
  cursor: pointer
  color: #3b5998
